body {
    
    background-color: rgb(30, 30, 30);
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

th {
    color: rgba(160, 160, 160);
}
img{
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}

tr {
    color: rgba(160, 160, 160);
    background-color: black;
}

td {
    background-color: rgb(0, 0, 0);
    color: rgb(230, 230, 230);
    padding: 0px 0px 0px 10px;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: left;
    white-space: normal;
}
h6 {
    font-size: 0.7rem;
    text-align: center;
    color: rgba(160, 160, 160);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 0;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
    color: rgba(160, 160, 160);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 0;
    display: block;
}

h1 {
    text-align: center;
    color: rgba(160, 160, 160);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    line-height: 1.2;
    font-weight: 600;
    font-size: 1.6rem;
    display: block;
}
h5 {
color: rgb(150, 150, 150);
font-size: 1.3rem;
text-transform: uppercase;
letter-spacing: 3px;
font-weight: 600;
line-height: 1.2;

display: inline;
text-align: center;
}
.container1 { 
        float:left;  
        background-color:black; 
        width:20%; 
        height:280px;
        margin-left: 20px;
        padding: 30px;
        margin-top: 0px;    
    } 
    .container2{ 
        float: left; 
        background-color:black; 
        width:35%; 
        height:280px; 
        margin-left: 20px;
        padding: 30px;
        margin-top: 0px; 
        
    } 
    .container3{ 
        float:left;  
        background-color:black; 
        width:25%; 
        height:280px;
        padding: 30px;
        overflow-x: hidden;
        overflow-x: auto;
        margin-left: 20px;
        margin-top: 0px; 


        
    } 
    .container4{ 
        background-color:black; 
        width:20%; 
        height:280px;
        padding: 30px;
        overflow-x: hidden;
        overflow-x: auto;
        margin-left: 20px;
        margin-top: 20px;
        float: left;
    }
    .container5{ 
        float:left;  
        background-color:black; 
        width:25%; 
        height:280px;
        padding: 30px;
        overflow-x: hidden;
        overflow-x: auto;
        margin-left: 20px;
        margin-top: 20px;
    }
    .container6{
        float:left;  
        background-color:black; 
        width:39%; 
        height:340px;
        margin-left: 20px;
        margin-top: 20px;
    }
    iframe{ 
        width:520px;
        height:340px;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: auto;
    }
    @media only screen and (max-width: 600px) {
        body { 
            background-color: rgb(30, 30, 30);
            height: 100%;
            width: 100%;
            font-family: 'Nunito Sans', sans-serif;
            margin: 0;
            text-align: left;
            overflow: auto;
        }
        .container1 {  
            background-color:black; 
            width: 80vw;
            height: 320px;
            padding: 20px; 
            float: left;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 0px;
        } 
        .container2{ 
            float:left; 
            background-color:black; 
            width:80vw; 
            height:420px;
            margin-top: 20px; 
            margin-left: 10px;
            margin-right: 0px;
            padding: 30px;  
        }
        .container3{
            float:left;  
            background-color:black; 
            width:80vw; 
            height:300px;
            padding: 30px;
            margin-left: 10px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-x: auto;
            margin-top: 20px; 
        }
        .container4{
            float:left;  
            background-color:black; 
            width:80vw; 
            height:300px;
            padding: 30px;
            margin-left: 10px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-x: auto;
            margin-top: 20px;
        }
        .container5{
            float:left;  
            background-color:black; 
            width:80vw; 
            height:300px;
            padding: 30px;
            margin-left: 10px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-x: auto;
            margin-top: 20px;
        }
        .container6{
            width:93vw; 
            height:300px;
            float:left;
            margin-left: 10px;
            margin-right: 0px;
            margin-top: 20px;  
        }
        h5 {
            color: rgb(150, 150, 150);
            text-transform: uppercase;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 600;
            }
        
            h6{
                font-size: 1rem;
            }
            iframe{ 
                width: 93vw;
                height:340px;
            }
            h2{
                margin-top: 5px;
            }

            img{
              width: 60px;
              height: 60px;
              margin-top: 5px;
              margin-left: auto;
              margin-right: auto;
            }
      }
      @media only screen and (max-width: 1220px) {
        iframe{ 
            width: 100%;
            height:340px;
        }
        .container6{
            width:100%; 
            height:300px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;  
        }
        .container1 {  
            background-color:black; 
            width: 100%;
            height: 220px;
            padding: 20px; 
            float: left;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 0px;
        } 
        .container2{ 
            float:left; 
            background-color:black; 
            width: 100%;
            height:280px;
            margin-top: 20px; 
            margin-left: 10px;
            margin-right: 0px;
            padding: 30px;  
        }
        .container3{
            float:left;  
            background-color:black; 
            width: 100%; 
            height:300px;
            padding: 30px;
            margin-left: 10px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-x: auto;
            margin-top: 20px; 
        }
        .container4{
            float:left;  
            background-color:black; 
            width: 100%; 
            height:300px;
            padding: 30px;
            margin-left: 10px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-x: auto;
            margin-top: 20px;
        }
        .container5{
            float:left;  
            background-color:black; 
            width: 100%;
            height:300px;
            padding: 30px;
            margin-left: 10px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-x: auto;
            margin-top: 20px;
        }
        h4{
            margin-top: 10px;
        }
      }